<footer class="footer">
    <small><%= raw t('contents.footer') %></small>
    <nav>
        <ul>
            <li><%= link_to t('titles.about'), about_path %></li>
            <li><%= link_to t('titles.contact'), contact_path %></li>
            <li><a href="https://news.railstutorial.org/"><%= t('titles.news') %></a></li>
        </ul>
    </nav>
</footer>
